In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("pokemon.csv")
df

,Dex No,Name,Base Name,Type 1,Type 2,BST,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed
0,1,Bulbasaur,Bulbasaur,GRASS,POISON,318,45,49,49,65,65,45
1,2,Ivysaur,Ivysaur,GRASS,POISON,405,60,62,63,80,80,60
2,3,Venusaur,Venusaur,GRASS,POISON,525,80,82,83,100,100,80
3,3,Mega Venusaur,Venusaur,GRASS,POISON,625,80,100,123,122,120,80
4,4,Charmander,Charmander,FIRE,-,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,Iron Valiant,FAIRY,FIGHTING,590,74,130,90,120,60,116
1190,1007,Koraidon,Koraidon,FIGHTING,DRAGON,670,100,135,115,85,100,135
1191,1008,Miraidon,Miraidon,ELECTRIC,DRAGON,670,100,85,100,135,115,135
1192,1009,Walking Wake,Walking Wake,WATER,DRAGON,590,99,83,91,125,83,109
1193,1010,Iron Leaves,Iron Leaves,GRASS,PSYCHIC,590,90,130,88,70,108,104

# Estatística descritiva da base

In [6]:
df.isnull().sum()

Dex No         0
Name           0
Base Name      0
Type 1         0
Type 2         0
BST            0
HP             0
Attack         0
Defense        0
Sp. Attack     0
Sp. Defense    0
Speed          0
dtype: int64

Não foi encontrado valores nulos ou vazios para a base acima. Os únicos dados faltantes na base são do atributo Type 2, mas substituir os valores ali poderão diminuir a precisão do Dataset (estamos atribuindo um possível poder ao Pokemon, que não necessariamente, irá refletir a realidade.)

In [10]:
df.describe()

,Dex No,BST,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed
count,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000
mean,492.746231,441.206868,70.883585,80.948911,74.587102,72.881072,72.123953,69.782245
std,293.719541,121.015326,26.861740,32.126164,30.678626,32.702411,27.628412,30.200828
min,1.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,235.250000,330.000000,52.000000,56.000000,51.250000,50.000000,50.000000,45.000000
50%,486.500000,460.500000,70.000000,80.000000,70.000000,65.000000,70.000000,67.500000
75%,741.750000,520.000000,85.000000,100.000000,90.000000,95.000000,90.000000,90.750000
max,1010.000000,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000